@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
body{
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.TodoTitle{
    font-size: 30px;
    font-weight: 1000;
}
